.section-flip {
    position: relative;
    height: 400px;
    width: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        width: 500px;
        height: 100%;
        padding: 60px 0;
    }   
    .up {
        height: 250px;
        width: 265px;
        border: $yellow solid 2px;
        transform: rotate(-45deg) translate(15px, -15px);
        @media screen and (max-width: 1000px) {
            height: 200px;
            width: 200px;
            transform: rotate(-45deg) translate(12px, -12px);
        } 
    }
    .down {
        position: absolute;
        height: 250px;
        width: 250px;
        border: $yellow solid 2px;
        transform: rotate(45deg);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1000px) {
            height: 200px;
            width: 200px;
        }
        .image-holder {
            height: 225px;
            width: 225px;
            transform: translate(-7.5px, -7.5px);
            overflow: hidden;
            @media screen and (max-width: 1000px) {
                height: 175px;
                width: 175px;
                transform: translate(-6.5px, -6.5px);
            } 
            .image-cradle {
                height: 320px;
                width: 320px;
                transform: rotate(-45deg) translateY(-69px);
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position: center;
            }
        }
    }
    .text-container {
        width: 60%;
        font-family: $goth;
        text-align: left;
        margin-left: 15%;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 1.2;
        letter-spacing: 1.5px;
        transform:scale(.9,1.1);
        -webkit-transform:scale(.9,.9);
        -moz-transform:scale(.9,1.1);
        -ms-transform:scale(.9,1.1);
        -o-transform:scale(.9,1.1);
        @media screen and (max-width: 1000px) {
            width: 350px;
            margin-left: 0px;
            padding-top: 50px;
            font-size: 22px;
            text-align: center;
        } 
    }
}
.section-flop {
    position: relative;
    height: 400px;
    width: 900px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 1000px) {
        flex-direction: column;
        width: 500px;
        height: 100%;
    }   
    .up {
        height: 250px;
        width: 265px;
        border: $yellow solid 2px;
        transform: rotate(-45deg) translate(15px, -15px);
        transform: rotate(-45deg) translate(15px, -15px);
        @media screen and (max-width: 1000px) {
            height: 200px;
            width: 200px;
            transform: rotate(-45deg) translate(12px, -12px);
        } 
    }
    .down {
        position: absolute;
        height: 250px;
        width: 250px;
        border: $yellow solid 2px;
        transform: rotate(45deg);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 1000px) {
            height: 200px;
            width: 200px;
        }
        .image-holder {
            height: 225px;
            width: 225px;
            transform: translate(-7.5px, -7.5px);
            overflow: hidden;
            @media screen and (max-width: 1000px) {
                height: 175px;
                width: 175px;
                transform: translate(-6.5px, -6.5px);
            } 
            .image-cradle {
                height: 320px;
                width: 320px;
                transform: rotate(-45deg) translateY(-69px);
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                background-position: center;
            }
        }
    }
    .text-container {
        width: 60%;
        font-family: $goth;
        text-align: right;
        margin-right: 15%;
        text-transform: uppercase;
        font-size: 25px;
        line-height: 1.2;
        letter-spacing: 1.5px;
        transform:scale(.9,1.1);
        -webkit-transform:scale(.9,.9);
        -moz-transform:scale(.9,1.1);
        -ms-transform:scale(.9,1.1);
        -o-transform:scale(.9,1.1);
        @media screen and (max-width: 1000px) {
            width: 350px;
            margin-right: 0px;
            padding-top: 50px;
            font-size: 22px;
            text-align: center;
        } 
    }
}
