.footer-white {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: black solid 4px;
    border-top: black solid 4px;
    width: 100%;
    height: 55px;
    z-index: 2;
    .footer-media {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 150px;
        i {
            font-size: 20px;
            transition: all .4s ease;
            margin: 5px;
            color: black;
            &:hover {
                font-size: 30px;
                color: rgb(59, 59, 59);
                transition: all .4s ease;
                cursor: pointer;
            }
        }
    }
}
.footer-black {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 55px;
    z-index: 2;
    color: white;
    .nav-header {
        font-family: $cursive;
        margin-right: 20px;
        font-size: 35px;
        margin-left: 2%;
        text-decoration: none;
        color: white;
    }
    .footer-media {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 150px;
        margin-right: 2%;
        i {
            font-size: 20px;
            transition: all .4s ease;
            margin: 5px;
            color: white;
            &:hover {
                font-size: 30px;
                color: lightgray;
                transition: all .4s ease;
                cursor: pointer;
            }
        }
    }
}