@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

$cursive: 'Grand Hotel', cursive;
$goth: 'Montserrat', sans-serif;
$yellow: rgb(226, 225, 143);