@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

$cursive: 'Grand Hotel', cursive;
$goth: 'Gothic A1', sans-serif;
$yellow: rgb(226, 225, 143);